{% extends "partiales/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	    
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center single-col-max-width">
			    <h2 class="heading">
                    <div class="alert alert-info" role="alert">
                        An Confirmation Email has been sent to your Email
                      </div></h2>
			    
		    </div><!--//container-->
	    </section>
        {% endblock content %}	    
	    


